:root {
  --primary: rgb(3, 3, 141);
  --bg: hsl(0, 0%, 5%);
}
.container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
  min-width: 100%;
  width: 100%;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(8, 8, 8, 0.8);
  border-bottom: 1px solid blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: blue;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(89, 89, 253);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid rgb(160, 217, 248);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-ekstra a {
  color: rgb(253, 253, 253);
  margin: 0 0.5rem;
}
.navbar .navbar-ekstra a:hover {
  color: rgb(89, 89, 253);
}

/* Queris */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0, 2);
  }
}

/* hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .conten {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .conten h1 {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .conten h1 span {
  color: rgb(124, 124, 249);
}
.hero .conten p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-weight: 200;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .conten .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: rgb(124, 124, 249);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Biodata */
.About,
.Pendidikan,
.Prestasi,
.Organisasi h2,
.dokumentasi h2,
.Projects h2 {
  padding: 8rem 7% 1.4rem;
}
.About h2,
.Pendidikan h2,
.Prestasi h2,
.Organisasi h2,
.dokumentasi h2,
.Projects h2 {
  text-align: center;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 5rem;
}
.Projects h2 {
  text-align: center;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 5rem;
}

.About {
  background-image: url("../img/Desain\ tanpa\ judul\ \(1\).png");
  background-size: cover;
  background-position: center;
}
.Pendidikan {
  background-image: url("../img/Desain\ tanpa\ judul\ \(2\).png");
  background-size: cover;
  background-position: center;
}
.About .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-bottom: 5rem;
}
.About .row .bio img {
  border-radius: 10%;
  width: 30%;
  margin: auto;
}
.About .row .bio {
  text-align: center;
}
.About .row .bio h3 {
  text-align: center;
  font-weight: 400;
}
.About .row .bio span {
  font-weight: 700;
}
.Pendidikan .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-bottom: 5rem;
  font-size: 1rem;
}
.Pendidikan .row .card {
  text-align: center;
}
.Pendidikan .row .card img {
  border-radius: 50%;
  width: 60%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
.Pendidikan .row .Jenjang {
  margin: 1rem auto 0.5rem;
}
.Prestasi {
  background-image: url("../img/Desain\ tanpa\ judul\ \(3\).png");
  background-size: cover;
  background-position: center;
}
.Prestasi .Daftar h4 {
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  padding-bottom: 5rem;
}
.Prestasi .Daftar h4 span {
  font-weight: 200;
}
.Organisasi {
  background-image: url("../img/Desain\ tanpa\ judul\ \(4\).png");
  background-size: cover;
  background-position: center;
}
.Organisasi .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-bottom: 20rem;
}
.Organisasi .row .orgjudul {
  text-align: center;
}
.Organisasi .row .org img {
  border-radius: 20%;
  width: 80%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
.Organisasi .row .orgjudul {
  margin: 1rem 1 1 0.5rem;
}
.Organisasi .row p {
  text-align: center;
}

footer {
  background-color: rgb(124, 124, 249);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: white;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}
footer .links a {
  color: white;
  padding: 0.7rem 1rem;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: bold;
}
.dokumentasi .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-bottom: 3rem;
}
.dokumentasi .row .dok img {
  border-radius: 20%;
  width: 70%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
.dokumentasi .row {
  text-align: center;
}

.dokumentasi {
  background-image: url("../img/Desain\ tanpa\ judul\ \(5\).png");
  background-size: cover;
  background-position: center;
}
.Projects {
  background-image: url("../img/Desain\ tanpa\ judul\ \(7\).png");
  background-size: cover;
  background-position: center;
}

.Organisasi .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-bottom: 20rem;
}
.Organisasi .row .orgjudul {
  text-align: center;
}
.Organisasi .row .org img {
  border-radius: 20%;
  width: 80%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
.Organisasi .row {
  text-align: center;
}

.Projects .row {
  text-align: center;
}

.Projects .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-bottom: 5rem;
}

.Projects .row .pro img {
  border-radius: 10%;
  width: 15%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
.Projects .row .pro .image1 {
  width: 20%;
}

.Projects .row .pro p {
  margin-left: 10rem;
  margin-right: 10rem;
}
.Pendidikan .row {
  text-align: center;
}
/* navbar search */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: white;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
.navbar .search-form .active {
  transform: scaleY(1);
}
